<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='frameworks/bootstrap.min.css') }}">
    <title>Contacts</title>
    
</head>
<body>

    <div class="container">
        <div class="row mt-4">
            <h3>Formulário GET</h3>
            <form action="" method="get" class="row mt-4">
                <div class="col-9">
                    Digite algo para pesquisa
                    <input type="text" name="research" id="" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary mt-4 col-12">Search</button>
                </div>
            </form>
            
            <p>Você pesquisou: {{context["research"]}}</p>

            <hr>
            <hr>
            <div class="row">
                <h3>Formulário POST</h3>
            </div>

            <form action="" method="post" class="row mt-4">
                <div class="col-9">
                    Digite algo para pesquisa
                    <input type="text" name="research" id="" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary mt-4 col-12">Search</button>
                </div>
            </form>

        </div>
    </div>
<script src="{{ url_for('static', filename='frameworks/bootstrap.bundle.min.js') }}"></script>
</body>
</html>